{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue Wilder !</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam praesentium repellat error culpa modi nemo accusamus explicabo quos veniam magnam?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure quidem quia inventore mollitia, fugiat facilis?</p>

{% endblock %}